{% extends "base_site.html" %}
{% load i18n show_tags static %}

{% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 equalcol conentsection">
    <div class="sections">
        <h2 class="heading">Latest Shows</h2>
        <div class="clearfix"></div>
        <div class="row">
            {% for show in selected|slice:":6" %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="videobox2">
                    <figure>
                        <a href="{{ show.get_absolute_url }}">
                            <img src='{{ show.poster.url }}' class="img-responsive hovereffect" alt="{{ show.title }}" />
                        </a>
                        <div class="vidopts">
                            <ul>
                                <li><i class="fa fa-play-circle"></i>{{ show.title }}</li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </figure>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="sections">
        <h2 class="heading">Featured</h2>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="blogpost">
                    <figure>
                        <a href="{{ featured.get_absolute_url }}">
                            <img src='{{ featured.poster.url }}' class="img-responsive hovereffect" alt="{{ featured.title }}" />
                        </a>
                        <figcaption>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>{{ featured.get_rating_display }}</li>
                            </ul>
                        </figcaption>
                    </figure>
                    <div class="text">
                        <h4 class="heading"><a href="{{ featured.get_absolute_url }}">{{ featured.title }}</a></h4>
                        <p>{{ featured.description }}</p>
                        <a href="{{ featured.get_absolute_url }}" class="btn btn-primary btn-xs backcolor">Watch Now</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <ul class="bloglist">
                    {% for show in selected|slice:":3" %}
                    <li>
                        <div class="media">
                            <a href="{{ show.get_absolute_url }}" class="pull-left">
                                <img src='{{ show.poster.url }}' class="media-object img-responsive hovereffect" alt="{{ show.title }}" />
                            </a>
                            <div class="media-body">
                                <h4><a href="{{ show.get_absolute_url }}">{{ show.title }}</a></h4>
                                <ul>
                                    <li><i class="fa fa-calendar"></i>{{ show.created|date:"d M Y"|capfirst }}</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- Sidebar -->
<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 equalcol blacksidebar">
    <!-- Upcoming videos -->
    <div class="widget">
        <h2 class="heading">More Shows</h2>
        <div class="carousals">
            <div id="carouselvideo" class="carousel slide" data-ride="carousel">
                {% with batches=selected|batch:3 %}
                <div class="carousel-inner">
                    {% for shows in batches %}{% if shows %}
                    <div class="item{% if forloop.first %} active{% endif %}">
                        {% for show in shows %}
                        <div class="videobox2">
                            <figure>
                                <a href="{{ show.get_absolute_url }}">
                                    <img src='{{ show.poster.url }}' class="img-responsive hovereffect" alt="{{ show.title }}" />
                                </a>
                                <div class="vidopts">
                                    <ul>
                                        <li>{{ show.title }}</li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </figure>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}{% endfor %}
                </div>
                <div class="carouselpagination">
                    <ol class="carousel-indicators">
                        {% for batch in batches %}
                            {% if batch|length != 0 %}
                            <li data-target="#carouselvideo" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Browse categories -->
    <div class="widget">
        <h2 class="heading">Categories</h2>
        <div class="categorieslist">
            <!-- TODO: Generate these -->
            <ul>
                <li><a href="#">Animals</a></li>
                <li><a href="#">Celebrities</a></li>
                <li><a href="#">Gaming</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="#">Funny</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Lifestyle</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}