{% extends "base_site.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Your Password" %}{% endblock %}

{% block content %}
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
    <div class="sections">
        <h2 class="heading">{% trans "Reset Your Password" %}</h2>
        <div class="clearfix"></div>
        <div class="row">
            <form method="post" action="" novalidate>
                <fieldset>
                    {% include "partials/form_error.html" with form=form %}
                    <div>
                        <p>
                            {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
                        </p>
                    </div>
                    {% include "partials/form_fields.html" with form=form css="form-control input-lg" %}
                    <div class="form-group">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary backcolor">
                            {% trans "Reset Password" %}
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
{% endblock %}
