{% extends "base_site.html" %}
{% load i18n %}

{% block title %}
{% if validlink %}{% trans "Complete Password Reset" %}{% else %}{% endif %}
{% endblock %}

{% block bodytheme %}light{% endblock %}

{% block content %}
<section class="flat-dialog{% if not validlink %} with-border with-padding{% endif %}">
    {% if validlink %}
    <form method="post" action="" novalidate>
        <fieldset>
            <legend>{% trans "Complete Password Reset" %}</legend>
            <p>
                {% trans "Please choose a new password, and enter it twice, so we can verify you typed it correctly." %}
            </p>
            {% include "partials/form-error.html" with form=form %}
            {% include "partials/form-fields.html" with form=form %}
            <div class="button-row">
                {% csrf_token %}
                <button type="submit">{% trans "Change Password" %}</button>
            </div>
        </fieldset>
    </form>
    {% else %}
    <h2>{% trans "Reset Your Password" %}</h2>
    <p>
        {% trans "The password reset link was invalid, possibly because it has already been used." %}
        <a href="{% url 'accounts:reset_password' %}">{% trans "Please request a new password reset." %}</a>
    </p>
    {% endif %}
</section>
{% endblock %}